body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: 40px;
    
  
   
}

li .main {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    margin-left: 20px;
}

li .main.active {
    background-color: #4CAF50;
    color: white;
}

li .main:hover:not(.active) {
    background-color: #555;
    color: white;
}